API_ID=37268161
API_HASH=3ada1a853f419a8eb3a9012450266db8

# sqlite/sqlite3 or mongo/mongodb
DATABASE_TYPE={sqlite}
# file name for sqlite3, database name for mongodb
DATABASE_NAME={database}

# only for mongodb
DATABASE_URL={db_url}
